<!DOCTYPE html>
<html>
  <head>
    <title>THPP23TheGossipProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <!-- Navbar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to "The Gossip Project", root_path, :class => "navbar-brand"%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Home", root_path, :class => "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Team", team_path, :class => "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", contact_path, :class => "nav-link"%>
        </li>
      </ul>
    </div>
    </nav>
  <%= yield %>
</body>
</html>
